<!DOCTYPE html>
<!doctype html>
<html>
<head>
    <title>Página não encontrada</title>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <!-- build:css css/erro.min.css -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.css">
    <!-- endbuild -->
</head>
<body>
<div class="container text-center">
    <div class="jumbotron">
        <h1>404</h1>
        <p class="lead">Página não encontrada!</p>
        <p><a class="btn btn-lg btn-success" href="/" role="button">Página Inicial</a></p>
    </div>
</div>
</body>
</html>




